---
layout: post
title: "Work"
author: "DP"
permalink: /work/
---
</div>
<div class="col23">
<h1>Projects</h1>
  {% for project in site.work %}
  {% if page.type == "main" %}
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      <h3>{{ project.author }}</h3>
      <p>{{ project.content | markdownify }}</p>
    <br>
    {% endif %}
  {% endfor %}
</div>

</div class="col3">
<h1>Side Projects</h1>
{% for project in site.work %}
{% if page.type == "side" %}
    <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
    <h3>{{ project.author }}</h3>
    <p>{{ project.content | markdownify }}</p>
  <br>
  {% endif %}
{% endfor %}
</div>
