<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.title == "Home" %}
    <meta name="description" content="{{ site.description }}">
  {% else %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:domain" value="{{ "/" | absolute_url }}" />
  <meta name="twitter:creator" content="@_dominicp">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  <meta name="twitter:image" content="{{ page.post_image | absolute_url }}">
  <meta name="twitter:image:alt" content="{{ page.alt_post_image | absolute_url }}">
  
  <meta property="og:url" content="{{ "page.permalink" | absolute_url }}"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="{{ page.post_image | absolute_url }}"/>
  {% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon-16x16.png" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}">

  <!-- RSS -->
  {% feed_meta %}
  <link href='https://dpresto.github.io/feed.xml' rel='alternate' type='application/atom+xml'>
</head>
