---
# Only the main Sass file needs front matter (the dashes are enough)
# blue: #1b167c | #1606a6 | #171a5a | …
# white: #f7e0d0 | #dcd4d4 | #dfdcd6 | #e0dee9
# yellow: #fed984 | #caa22b
# red: #a11309 | #af0006
---

@import 'tale';


body {
  background-color: #e0dee9;
  color: #1606a6;
}

.post-title {
    color: #1606a6;
}

a {
    color: #af0006;
}

post-line {
    border-top: 0.4rem solid #1606a6;
}

h1, h2, h3, h4, h5, h6 {
    color: #1606a6;
}

.nav {
    box-shadow: 0 2px 2px -1px rgba(247,224,208,1);
}

.nav-title {
    color: #1606a6;
}

.nav a {
    color: #1606a6;
}

.nav li {
    color: #1606a6;
    opacity: 1;
}

.catalogue-title {
    color: #1606a6;
}

.catalogue-item {
    color: #1606a6;
}

.catalogue-line {
    border-top: 0.2rem solid #1606a6;
}

.catalogue-time {
    color: #1606a6;
}

.post-line {
    border-top: 0.4rem solid #1606a6;
}

.post-info {
    color: #1606a6;
}

.pagination .top {
    color: #1606a6;
}

footer span {
    color: #1606a6;
}

.pagination .arrow {
    color: #1606a6;
  }

.pagination span {
    color: #1606a6; 
  }

pre code {
  color: #bf616a;
  }

.highlight {
    background-color: #171a5a;
}
