---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'tale';


body {
  background-color: #1b167c;
  color: #f7e0d0;
}


.post-title {
    color: #f7e0d0;
}


a {
    color: #a11309;
}


post-line {
    border-top: 0.4rem solid #f7e0d0;
}


h1, h2, h3, h4, h5, h6 {
    color: #f7e0d0;
}

.nav-title {
    color: #f7e0d0;
}

.nav a {
    color: #f7e0d0;
}

.nav li {
    color: #f7e0d0;
    opacity: 1;

.catalogue-title {
    color: #f7e0d0;
}

.catalogue-item {
    color: #f7e0d0;
}

.catalogue-line {
    border-top: 0.2rem solid #f7e0d0;
}

.catalogue-time {
    color: #f7e0d0;
}

.post-line {
    border-top: 0.4rem solid #f7e0d0;
}

.post-info {
    color: #f7e0d0;
}

.pagination .top {
    color: #f7e0d0;
}

footer span {
    color: #f7e0d0;
}

.pagination .arrow {
    color: #f7e0d0;
  }

.pagination span {
    color: #f7e0d0; 
  }

pre code {
  color: #bf616a;
  }
