---
# Only the main Sass file needs front matter (the dashes are enough)
# blue: #1b167c | #1606a6 | #171a5a
# white: #f7e0d0 | #dcd4d4 | #dfdcd6
# yellow: #fed984 | #caa22b
# red: #a11309 | #af0006
---

@import 'tale';


body {
  background-color: #dfdcd6;
  color: #171a5a;
}

.post-title {
    color: #171a5a;
}

a {
    color: #af0006;
}

post-line {
    border-top: 0.4rem solid #171a5a;
}

h1, h2, h3, h4, h5, h6 {
    color: #171a5a;
}

.nav {
    box-shadow: 0 2px 2px -1px rgba(247,224,208,1);
}

.nav-title {
    color: #171a5a;
}

.nav a {
    color: #171a5a;
}

.nav li {
    color: #171a5a;
    opacity: 1;
}

.catalogue-title {
    color: #171a5a;
}

.catalogue-item {
    color: #171a5a;
}

.catalogue-line {
    border-top: 0.2rem solid #171a5a;
}

.catalogue-time {
    color: #171a5a;
}

.post-line {
    border-top: 0.4rem solid #171a5a;
}

.post-info {
    color: #171a5a;
}

.pagination .top {
    color: #171a5a;
}

footer span {
    color: #171a5a;
}

.pagination .arrow {
    color: #171a5a;
  }

.pagination span {
    color: #171a5a; 
  }

pre code {
  color: #bf616a;
  }

.highlight {
    background-color: #171a5a;
}
