---
layout: default
---

<div class="catalogue">
    <a href="{{ work.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <img src="{{ work.post_image | prepend: site.baseurl }}" alt="{{ work.alt_post_image }}" style="width: 100%;">
        <div class="tight">
        <time datetime="{{ work.date }}" class="catalogue-time">{{ work.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ work.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ work.content | strip_html | truncatewords: 30 }}
        </p>
        </div>

      </div>
    </a>
</div>
