---
layout: default
---

<div class="post">
  <!-- <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div> -->

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

<div class="col34">
<h1>Projects</h1>
  {% for project in site.work %}
  {% if project.type == 'mainproject' %}
      <img src="{{ project.post_image | prepend: site.baseurl }}" alt="{{ project.alt_post_image }}" style="width: 100%;">
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      <!-- <h3>{{ project.author }}</h3> -->
      <p>{{ project.proj_description | markdownify }}</p>
    <br>
    {% endif %}
  {% endfor %}
</div>

<div class="col4">
<h1>Side Projects</h1>
{% for project in site.work %}
{% if project.type == 'sideproject'  %}
    <img src="{{ project.post_image | prepend: site.baseurl }}" alt="{{ project.alt_post_image }}" style="width: 100%;">
    <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
    <!-- <h3>{{ project.author }}</h3>
    <p>{{ project.content | markdownify }}</p> -->
  <br>
  {% endif %}
{% endfor %}
</div>

<div class="pagination">
  <a href="#" class="top">Top</a>
</div>

</div>
